{% extends 'shopapp/base.html' %}

{% block title %}
    Orders list
{% endblock %}


{% block body %}
    <h1>Orders:</h1>
    <div>
        {% for order in object_list %}
        <div>
            <p><a href="{% url 'shopapp:order_details' pk=order.pk %}">Order #{{ order.pk }}</a></p>
<!--            <p>Ordered by {% firstof order.user.first_name order.user.username %}</p>-->
<!--            <p>Promocode: <code>{{ order.promocode }}</code></p>-->
<!--            <p>Delivery adress: {{ order.delivery_adress }}</p>-->
<!--            <div>-->
<!--                Ordered products:-->
<!--                <ul>-->
<!--                    {% for product in order.products.all %}-->
<!--                        <li>{{ product.name }} for ${{ product.price }}</li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
        </div>
        {% endfor %}
    </div>
{% endblock %}